* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.blue-band {
  padding: 0.3rem;
  background-color: #0282f9;
  color: white;
}
.blue-band .container {
  display: flex;
  justify-content: flex-end;
}
.blue-band h4 {
  margin-left: 6rem;
  font-size: 12px;
}

header nav .container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo-container {
  margin-right: 3rem;
}
header nav .nav-list {
  margin-right: 3rem;
  display: flex;
  list-style: none;
}
header nav .nav-list li {
  margin: 0 1rem;
  flex-grow: 1;
}

.container-jumbo {
  height: 450px;
  overflow: hidden;
}
.container-jumbo img {
  width: 100%;
}

#main-content {
  background-color: #1c1c1c;
  color: white;
}

.container-main-content {
  padding: 1.5rem;
  position: relative;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.current-series {
  padding: 0.5rem 1.5rem;
  position: absolute;
  top: -22px;
  left: 0;
  background-color: #0282f9;
}

.card {
  flex-basis: calc(16.6666666667% - 1rem);
  margin: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.card .img-container {
  height: 180px;
  width: 180px;
  overflow: hidden;
}
.card img {
  width: 100%;
  margin-bottom: 1rem;
}
.card:hover {
  cursor: pointer;
}
.card:hover img {
  opacity: 0.3;
}

.btn-expand {
  width: 150px;
  margin: 0 calc((100% - 150px) / 2);
  padding: 0.5rem 2rem;
  align-self: center;
  background-color: #0282f9;
  border: none;
  color: white;
}
.btn-expand:hover {
  cursor: pointer;
}

.nav-main {
  text-align: center;
  background-color: #0282f9;
}
.nav-main ul {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.nav-main li {
  margin: 0 1.5rem;
  display: inline-block;
}
.nav-main li a {
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
}
.nav-main li a .container-img {
  margin-right: 0.5rem;
  height: 50px;
  width: 40px;
}
.nav-main li a .container-img img {
  height: 100%;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
footer #footer-main {
  height: 400px;
  overflow: hidden;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
footer .container-links {
  padding: 2rem 0;
  display: flex;
  flex-flow: column wrap;
  color: white;
}
footer .container-links ul {
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  list-style: none;
}
footer .container-links .list-title {
  margin-bottom: 0.5rem;
}
footer .container-links a {
  color: gray;
  text-decoration: none;
}
footer .container-links a:hover {
  color: white;
}
footer .container-logo {
  align-self: center;
}
footer #footer-socials {
  padding: 2rem;
  background-color: #303030;
}
footer #footer-socials button {
  padding: 0.7rem;
  background-color: transparent;
  color: white;
  border: 2px solid #0282f9;
  border-radius: none;
}
footer #footer-socials button:hover {
  cursor: pointer;
}
footer .container-socials {
  display: flex;
}
footer .container-socials h2 {
  margin: 0 0.7rem;
  color: #0282f9;
}
footer .container-socials a {
  margin: 0 0.5rem;
}